<a href="https://colab.research.google.com/github/shivamsingh163248/python_learning_colab/blob/main/Dictoneries_in_python_shivam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#now learning the Dictonires in pyhton
# frist creating the dictonires
dict1 = {"name" : "shivam singh " , "roll no" : 242211017 , "school" : "national institute of technology delhi"}
# now printing the dic
print(dict1['name']) ;
# now printing all the keys
print(dict.keys(dict1)) ;

# printing all the values
print(dict.values(dict1)) ;

# now set the values in the dict
dict1['year'] = 450 ;

# now print all the dict
print(dict1) ;

shivam singh
dict_keys(['name', 'roll no', 'school'])
dict_values(['shivam singh ', 242211017, 'national institute of technology delhi'])
{'name': 'shivam singh ', 'roll no': 242211017, 'school': 'national institute of technology delhi', 'year': 450}