<a href="https://colab.research.google.com/github/shivamsingh163248/python_learning_colab/blob/main/List_learing_in_python_shivam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#how perform the list operatoin we are the using list operation
llistX = [3,5,6]+[5,9,78,6]  ;
li = [4,9,3,4] ;
print(llistX+li) ;

#list operation with
z = ["shivam"]*2 ;
print(z) ;

[3, 5, 6, 5, 9, 78, 6, 4, 9, 3, 4]
['shivam', 'shivam']

In [4]:
#checking the
print(5 in [5,6,7,8,4]) ;

True

In [5]:
# i am writing in the second way
prise = [5,7,6,4,3,23,5] ;
#creating the operation
print(5 in prise) ;

True

In [6]:
#using the for loop itrationg all the element
for x in [45,76,5,4,3,5,3,5] : print(x) ;

45
76
5
4
3
5
3
5