<a href="https://colab.research.google.com/github/shivamsingh163248/python_learning_colab/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#data type casting
num = 47 ;
num2 = "34" ;
print("this the data fo the checking type " , type(num)) ;
#again print the data for the checking the data
print("this the data type of the second" , type(num2)) ;

this the data fo the checking type  <class 'int'>
this the data type of the second <class 'str'>

In [9]:
#now let's learn the type casting
num2 = int(num2) ;
print("this the data type of the second" , type(num2)) ;

this the data type of the second <class 'int'>

In [10]:
#now preforming the adding operation
ans = num + num2 ;
# now printing the value
print(ans) ;

81

In [11]:
#operation of data
#Arthmatic opearion
v1 =  float(input("enter the value the frist number :")) ;
v2 = float(input("enter the value of the second number")) ;

# now adding the operation
add = v1+v2 ;
sub = v1-v2 ;
mul = v1*v2 ;
div = v1/v2 ;
mod = v1%v2 ;

#now print all the values
print(add  ,  sub , mul , div) ;

788.0 120.0 151636.0 1.3592814371257484

In [12]:
a = 10 ;
b = 50 ;
# creating the if condition
print("checking the number ",a>b) ;
print("cehcking the number " ,  a<b) ;
print("this comperion operation " , a<=b) ;
print("also checking using thease comend" , a>=b) ;
print("for the equal" , a == b) ;
print("checking for the not equll to "  , a!=b) ;

checking the number  False
cehcking the number  True
this comperion operation  True
also checking using thease comend False
for the equal False
checking for the not equll to  True

In [13]:
#now learning the assignment operator
Extra = 7 ;
final = 34 ;
final += Extra ;

#printing all the assign operator
print(final) ;
final -= Extra ;
print(final) ;
final *= Extra ;

41
34

In [14]:
#now learing the bit wise operatior
str1 = "shivam" ;
str2 = "itisha" ;

#now printing all the operaion
print("this is the concanet opeartor" , str1+str2) ;
print("this is the mul oper" , str1*2) ;
print("now printing the slice operaor" , str1[2]) ;
print("printing in range " , str1[1:4]) ;
print("checking the present or not " , 'h' in str1) ;
print("cheking if not avalabe", 'i' not in str2) ;

this is the concanet opeartor shivamitisha
this is the mul oper shivamshivam
now printing the slice operaor i
printing in range  hiv
checking the present or not  True
cheking if not avalabe False

In [15]:
#now checking type casting the number
tuple_testing = (3,5,6,5) ; 
#checking the print for the tuple 
print(tuple_testing) ;

(3, 5, 6, 5)

In [16]:
print(tuple_testing[3]) ;

5

In [1]:
#now set the values 
#taking the input from the input 

integer_value_1 = input("this is the input ")
print(integer_value_1) 
integer_value_2 = int(input("enter the fist number ")) 

print(integer_value_2) 

#creating the type casting of the values 
float_value = float(integer_value_2)  ; 

#and the print values of the float 
print(float_value) ;

454
454
454.0