<a href="https://colab.research.google.com/github/shivamsingh163248/python_learning_colab/blob/main/tuple_in_python_shivamsingh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#now learning all the tuple file
#we opearting same operation in list a list
x = (4,5,67) ;
y = (6,8,4) ;

# adding the two tuples
print("adding printing" , x+y) ;

# storing a string in the tuples and try to printing tuples
st = ("shivam singh ")  ;
print("printing using the 2" , st*2) ;


#now printing a loop
pr = (4,6,7,5,67) ;
for x in pr : print(x) ;

print( 4 in (4,6,2,4,5)) ;

adding printing (4, 5, 67, 6, 8, 4)
printing using the 2 shivam singh shivam singh
4
6
7
5
67
True